<div>
  <div>
    <h1>
      List of <%= @current_user.first_name %>'s bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

    <form action="/insert_bookmark" method="post">
      <div>
        <select id = "painting_title_box" name="query_painting_title">
          <% Painting.all.order(:title).each do |a_painting| %>
            <option>
              <%= a_painting.title %>
            </option>
          <%end%>
        </select>
      </div>

      <button>
        Create bookmark
      </button>
    </form>
  </div>
</div>


<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Title
        </th>

        <th>
          Image
        </th>

        <th>
          Artist
        </th>
        

        <th>
        </th>

        <th>
        </th>

      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
          <% @painting = Painting.where({ :id => a_bookmark.painting_id }).at(0) %>
          <%= @painting.title%>
        </td>
      
        <td>
          <img src="<%= @painting.image %>" class = "img-thumbnail picture"/>
        </td>

        <td>
          <% @artist = Artist.where({ :id => @painting.artist_id }).at(0) %>
          <%= @artist.name %>
        </td>

        <td>
          <a href="/painting/<%= @painting.id %>">
            Show painting details
          </a>
        </td>

        <td>
          <a href="/delete_bookmark/<%= @painting.id %>">
            Delete bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
