<h1>
  <%= @the_painting.title %>'s Details
</h1>

<a href="/paintings" class="btn btn-block btn-outline-secondary">
  Go back
</a>

<% if @current_user != nil %>
 <form action="/insert_bookmark" method="post">
  <div>
    <button> Bookmark </button>
    <input type="hidden" id="painting_title" value="<%= @the_painting.title %>" name="query_painting_title">
  </div>
 </form>
<% end %>



  <dl>
    <dt>
      Title
    </dt>
    <dd>
      <%= @the_painting.title %>
    </dd>

    <dt>
      Date Painted
    </dt>
    <dd>
      <%= @the_painting.date_painted.strftime('%d %b, %Y') %>
    </dd>

    <dt>
      Artist
    </dt>
    <dd>
      <%= @the_artist.name %>
    </dd>

    <dt>
      Image
    </dt>
    <dd>
      <img src="<%= @the_painting.image %>" class="width-40" >
    </dd>

    
  </dl>
